#view2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

#view1 {
  display: none;
}

#audioEffects {
  position: absolute;
  height: 100%;
  right: 0;
}

body {
  color: white;
}

select {
    color: white;
    background: rgba(0,0,0,.5);
}
